[Unit]
Description=Renogy BMS Collector
After=bluetooth.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/renogy-rs
ExecStart=/usr/bin/renogy-bms-collector ${COLLECTOR_ARGS}
Restart=on-failure
RestartSec=10
Environment=RUST_LOG=info
Environment=COLLECTOR_ARGS=bt2
DynamicUser=yes
SupplementaryGroups=bluetooth

[Install]
WantedBy=multi-user.target
